<% if resource.errors.any? %>
  document.getElementById('errors').innerHTML = '<%= escape_javascript render('devise/shared/error_messages') %>'
<% else %>
  alert("User Successfully updated");
  document.querySelector(".close-modal").click();
<% end %>