<%= form_with(model: topic) do |form| %>
  <div class="d-flex justify-content-center">
    <div class="card w-25 p-4 mt-5 mb-3">
      <div class="field">
        <%= form.label :title, "Enter the Title :", class: "form-label fs-6 fw-bold" %>
        <%= form.text_field :title, class: "form-control" %>
        <% if topic.errors.any? %>
          <% if topic.title.length < 3 %>
            <span class="text-danger mt-1"><%= topic.errors.full_messages.first %></span>
          <% end %>
        <% end %>
      </div>
      <div class="actions text-center m-0 mt-2">
        <%= form.submit class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
