<% if @topic %>
  <h1 class="text-center h2 my-3">Editing Topic</h1>
  <%= render 'form', topic: @topic %>
  <div class="text-center">
    <%= link_to '< Back', topics_path, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
    <%= link_to 'Show', topic_posts_path(@topic), class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% else %>
  <p class="text-center fw-bold text-danger">🙁 Topic doesn't exist</p>
  <div class="text-center mt-4">
    <%= link_to '< Back', topics_url, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% end %>