<% if flash[:warning] != nil %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p id="notice text-danger" class="m-0"><%= flash[:warning] %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if notice != nil %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice text-success" class="m-0"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if alert != nil %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p id="notice text-warning" class="m-0"><%= alert %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1 class="text-center h2 my-3">Topics</h1>
<% @topics.each do |topic| %>
  <div class="alert alert-secondary bg-white d-flex shadow-sm">
    <h4 class="flex-grow-1 my-0"><%= topic.title %></h4>
    <div class="">
      <%= link_to 'Show', topic_posts_path(topic), class: "btn btn-sm btn-primary text-light me-2" %>
      <%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-sm btn-success text-light me-2" %>
      <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-light" %>
    </div>
  </div>
<% end %>
