<h1 class="text-center h2 my-3">New Topic</h1>

<%= render 'form', topic: @topic %>

<div class="text-center">
  <%= link_to '< Back', topics_path, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
</div>