<% if notice != nil %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice" class="m-0"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @topic %>
<div class="d-flex justify-content-center align-items-center">
  <div class="card w-50 mt-5 mb-3 p-3">
    <h3 class="text-center card-subtitle text-secondary">Topic : <i><%= @topic.title %></i></h3>
  </div>
</div>

<div class="text-center">
  <%= link_to '< Back', topics_path, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  <%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-sm btn-primary text-light me-2 fw-bold border-primary border-2" %>
  <%= link_to 'Posts',topic_posts_path(@topic), class: "btn btn-sm btn-primary text-light me-2 fw-bold border-primary border-2" %>
</div>
<% else %>
  <p class="text-center fw-bold text-danger">🙁 Topic doesn't exist</p>
  <div class="text-center mt-4">
    <%= link_to '< Back', topics_url, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% end %>