<% unless comment.user_comment_ratings.where(user_id: current_user.id).exists? %>
  <div class="alert alert-secondary bg-white mt-2">
    <%= form_with model: [@topic, @post, comment, comment.user_comment_ratings.new], url: "/topics/#{@topic.id}/posts/#{@post.id}/comments/#{comment.id}/user_comment_ratings" do |form| %>
      <div class="mb-0 d-flex">
      <span class="d-flex me-2">
        <%= form.radio_button :point, 1, class: "me-1 form-check-input" %>
        <%= form.label :point_1, "1 Star", class: "form-check-label" %>
      </span>
        <span class="d-flex me-2">
        <%= form.radio_button :point, 2, class: "me-1 form-check-input" %>
          <%= form.label :point_2, "2 Star", class: "form-check-label" %>
      </span>
        <span class="d-flex me-2">
        <%= form.radio_button :point, 3, class: "me-1 form-check-input" %>
          <%= form.label :point_3, "3 Star", class: "form-check-label" %>
      </span>
        <span class="d-flex me-2">
        <%= form.radio_button :point, 4, class: "me-1 form-check-input" %>
          <%= form.label :point_4, "4 Star", class: "form-check-label" %>
      </span>
        <span class="d-flex me-2">
        <%= form.radio_button :point, 5, class: "me-1 form-check-input" %>
          <%= form.label :point_5, "5 Star", class: "form-check-label" %>
      </span>
      </div>
      <p class="mt-0 text-danger"><%= flash[:info] %></p>
      <div class="mt-3">
        <%= form.submit 'Give a Rating', class: "btn btn-outline-dark btn-sm" %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Ratings List', topic_post_comment_user_comment_ratings_path(@topic, @post, comment), class: 'text-secondary bg-white fw-bold border-2 mt-3 d-block' %>
<% end %>