<h3 class="mt-3 text-center">Ratings for Comment : <%= @comment.body %></h3>
<p class="mt-2 text-center">By : <%= @comment.user.email %></p>
<section class="container d-flex justify-content-center">
  <table class="table w-50 mt-3 text-center">
    <thead>
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">User</th>
    </tr>
    </thead>
    <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.point %></td>
        <td><%= rating.user.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<div class="text-center">
  <%= link_to '< Back', topic_post_path(@topic, @post), class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
</div>


