<section class="container bg-white rounded shadow-sm mt-3">
  <p class="text-success"><%= notice %></p>
  <h1 class="fs-3 my-3 pt-2 text-center"><%= link_to 'Tags', tags_path, class: "text-decoration-none text-dark bg-white" %></h1>
  <% @tags.each do |tag| %>
    <p class="fs-5 badge bg-secondary rounded-pill mx-1">
      <%= link_to tag.name, tags_path(id: tag.id), class: "text-white ms-1 bg-secondary text-decoration-none fw-normal"%>
      <%= link_to 'X', tag, method: :delete, class: "text-white ms-1 bg-secondary text-decoration-none fs-6 fw-bold"%>
    </p>
  <% end %>
</section>

<section class="container bg-white rounded shadow-sm mt-3 py-3">
  <%= form_with model: @tag do |form|%>
    <%= form.label :name, "#{!params[:id] ? "Create a new" : "Update"} tag : ", class: "form-label fs-5 mb-3" %>
    <%= form.text_field :name, class: "form-control" %>
    <p class="text-danger m-0 pt-1"><%= flash[:error] %></p>
    <div>
      <%= form.submit class: "btn btn-outline-secondary btn-sm mt-3"%>
    </div>
  <% end %>
</section>

<div class="text-center mt-4">
  <%= link_to '< Back', topics_url,class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
</div>
