<%= form_with model: [post.topic, post],id: 'new-form', local: false do |form| %>
  <div class="modal-body">
    <div class="field">
      <%= form.label :title, class: "form-label fs-6 fw-bold" %>
      <%= form.text_field :title, class: "form-control" %>
      <% if @post.errors.messages[:title].any? %>
        <span class="text-danger mt-1"><%= "Title #{@post.errors.messages[:title].first}" %></span>
      <% end %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <% if @post.errors.messages[:image].any? %>
        <span class="text-danger mt-1"><%= "File #{@post.errors.messages[:image].first}" %></span>
      <% end %>
    </div>
    <div class="field">
      <%= form.label :body, class: "form-label fs-6 fw-bold" %>
      <%= form.text_area :body, class: "form-control" %>
      <% if @post.errors.messages[:body].any? %>
        <span class="text-danger mt-1"><%= "Body #{@post.errors.messages[:body].first}" %></span>
      <% end %>
    </div>

    <div class="field">
      <p class="form-label fs-6 fw-bold">Add tags</p>
      <%= form.select :tag_ids, Tag.all.collect { |t| [t.name, t.id] }, { include_blank: false }, { multiple: true, class: "form-control" } %>
    </div>

    <div class="field">
      <p class="form-label fs-6 fw-bold">Create new tags</p>
      <%= form.fields_for :tags_attributes do |f| %>
        <%= f.text_field :name, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>