<div class="alert alert-secondary bg-white shadow-sm me-2 width mb-2">
  <div class="position-relative">
    <h4><%= post.title %></h4>
    <% if post.users.where(email: current_user.email).exists? %>
      <small class="position-absolute positions badge rounded-pill bg-success">Read</small>
    <% else %>
      <small class="position-absolute positions badge rounded-pill bg-danger">Un Read</small>
    <% end %>
  </div>
  <h6 class="mb-3"><%= post.body[0..7] %> ...</h6>
  <p><%= post.comments_count %> Comments</p>
  <% if !@topic %>
    <small class="card-subtitle fw-bold d-block mb-2">Topic: <%= post.topic.title %></small>
  <% end %>
  <div>
    <% if can? :manage, post %>
      <%= link_to 'Edit Post', edit_topic_post_path(post.topic_id, post), class: "btn btn-sm btn-success text-light me-2" %>
      <%= link_to 'Delete Post', topic_post_path(post.topic, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-light me-2" %>
    <% else %>
      <%= link_to 'Edit Post', edit_topic_post_path(post.topic_id, post), class: "btn btn-sm btn-success text-light me-2 disabled" %>
      <%= link_to 'Delete Post', topic_post_path(post.topic, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-light me-2 disabled" %>
    <% end %>
  </div>
</div>