<% if response.status == 422 %>
  alert('<%= @post.errors.full_messages.first %>');
<% else %>
  document.getElementById('postsList').innerHTML += "<%= escape_javascript render('post_card', post: @post) %>";
  document.getElementById("loader").style.display = "block";
  setTimeout(() => {document.querySelector(".close-modal").click();},300);
  setTimeout(() => {alert('Post created successfully');},500);
<% end %>