<% if @post %>
  <h2 class="text-center h2 my-3">Edit Post</h2>
  <%= render 'form', topic: @topic %>
  <div class="text-center">
    <%= link_to '< Back', topic_posts_path, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
    <%= link_to 'Show', topic_post_path(@topic, @post), class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% else %>
  <p class="text-center fw-bold text-danger">🙁 No Posts Found....</p>
  <div class="text-center mt-4">
    <%= link_to '< Back', topic_posts_url(@topic), class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% end %>