<% if flash[:warning] != nil %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p id="notice text-danger" class="m-0"><%= flash[:warning] %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if notice != nil %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice text-success" class="m-0"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if !params[:topic_id] || @topic %>
<h1 class="text-center h2 my-3"><%= (@topic) ? @topic.title.capitalize : 'Posts' %></h1>
<% unless params[:topic_id].present? %>
  <section class="container mb-3">
    <form method="get" class="d-flex">
      <label for="fromDate">From:</label>
      <input type="date" id="fromDate" name="fromDate" value="<%= params[:fromDate].present? ? params[:fromDate] : nil %>">
      <label for="toDate" class="ms-3">To:</label>
      <input type="date" id="toDate" name="toDate" value="<%= params[:toDate].present? ? params[:toDate] : nil %>">
      <input type="submit" value="Show Details" class="ms-3">
    </form>
  </section>
<% end %>
<section class="w-100 d-flex flex-wrap" id='postsList'>
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <div class="alert alert-secondary bg-white shadow-sm me-2 width mb-2">
        <div class="position-relative">
          <h4><%= post.title %></h4>
            <% if @read_posts.index(post).present? %>
              <small class="position-absolute positions badge rounded-pill bg-success">Read</small>
            <% else %>
              <small class="position-absolute positions badge rounded-pill bg-danger">Un Read</small>
            <% end %>
        </div>
        <h6 class="mb-3"><%= post.body[0..7] %> ...</h6>
        <p><%= post.comments_count %> Comments</p>
        <p>Avg Rating : <%= post.rating_average %></p>
        <% if !@topic %>
          <small class="card-subtitle fw-bold d-block mb-2">Topic: <%= post.topic.title %></small>
        <% end %>
        <div>
          <%= link_to 'Show Post', topic_post_path(post.topic_id, post), class: "btn btn-sm btn-primary text-light me-2" %>
          <% if can? :manage, post %>
            <%= link_to 'Edit Post', edit_topic_post_path(post.topic_id, post), class: "btn btn-sm btn-success text-light me-2" %>
            <%= link_to 'Delete Post', topic_post_path(post.topic, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-light me-2" %>
          <% else %>
            <%= link_to 'Edit Post', edit_topic_post_path(post.topic_id, post), class: "btn btn-sm btn-success text-light me-2 disabled" %>
            <%= link_to 'Delete Post', topic_post_path(post.topic, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-light me-2 disabled" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <section class="container text-center">
      <p class="fw-bold text-danger">🙁 No Posts Found....</p>
    </section>
  <% end %>
</section>
<section class="container d-flex justify-content-center mt-2">
  <%== pagy_bootstrap_nav(@pagy) %>
</section>
<div class="text-center mt-2">
  <%= link_to '< Back', topics_url, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  <% if (@topic) %>
    <%= link_to 'New Post', new_topic_post_path(@topic),data: {bs_toggle: 'modal', bs_target: '#newPostModal'}, remote: true, class: "btn btn-sm btn-primary text-light me-2 fw-bold border-primary border-2" %>
  <% end %>
</div>

  <div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div id="loader" class="loader w-100 h-100 position-relative">
      <div class="spinner-grow text-info position-absolute top-50 start-50" role="status">
      </div>
    </div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="newUserModalLabel">Create new post</h5>
          <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id='newUserForm'>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <p class="text-center fw-bold text-danger mt-3">🙁 Topic doesn't exist</p>
  <div class="text-center mt-4">
    <%= link_to '< Back', topics_url, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% end %>

<script>
    const element = document.getElementById("loader");
    element.style.display = "none";
</script>