<% if notice != nil %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice" class="m-0"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @post %>
<div class="d-flex justify-content-center align-items-center">
  <div class="container alert alert-secondary bg-white mt-5 mb-3 p-3">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, style: "width: 100%; margin-bottom: 12px;" %>
    <% end %>
    <% if current_user.read_posts.index(@post).present? %>
      <small id='para' class="position-absolute positions badge rounded-pill bg-success mt-3 me-3">Read</small>
    <% else %>
      <small id='para' class="position-absolute positions badge rounded-pill bg-danger mt-3 me-3">Un Read</small>
    <% end %>
    <h3 class="text-capitalize fs-4 card-title fw-bold"><%= @post.title %></h3>
    <p class="fs-6 mt-2"><%= @post.body %></p>
    <% if @post_tags.present? %>
      <div class="mt-4">
        <span class="fs-6 fw-bold text-secondary fst-italic me-2">Tags:</span>
        <% @post_tags.each do |tag| %>
          <p class="fs-5 badge fs-6 bg-secondary rounded-pill mb-0 fw-normal"><%= tag.name %></p>
        <% end %>
      </div>
    <% end %>
    <h6 class="mt-3">Rating : <span class="badge bg-secondary rounded-pill"><%= @post.rating_average %></span></h6>
    <div class="d-flex mt-3">
      <% (1..5).each do |i| %>
        <h6><%= "#{i} Star" %> :
          <span class="me-3 badge bg-dark rounded-pill"><%= @ratings[i] ? @ratings[i] : 0 %></span></h6>
      <% end %>
    </div>
    <p class="mt-3 card-subtitle fw-bold ">by : <i><%= @post.user.email %></i></p>
    <p class="text-center mt-3 card-subtitle fw-bold ">Topic : <i><%= @post.topic.title %></i></p>
  </div>
</div>

<div class="text-center mb-3">
  <%= link_to '< Back', topic_posts_url, class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  <% if can? :update, @post %>
    <%= link_to 'Edit post', edit_topic_post_path(@topic, @post), class: "btn btn-sm btn-primary text-light me-2 fw-bold border-primary border-2" %>
  <% else %>
    <%= link_to 'Edit post', edit_topic_post_path(@topic, @post), class: "btn btn-sm btn-primary text-light me-2 fw-bold border-primary border-2 disabled" %>
  <% end %>
</div>

<div class="container bg-white py-2 mt-3">
  <span>Give a rating :</span>
  <%= form_with model: [@topic, @post, @post.ratings.new], url: "/topics/#{@topic.id}/posts/#{@post.id}/ratings" do |form| %>
    <div class="mb-0 d-flex mt-3">
      <span class="d-flex me-2">
        <%= form.radio_button :point, 1, class: "me-1 form-check-input" %>
        <%= form.label :point_1, "1 Star", class: "form-check-label" %>
      </span>
      <span class="d-flex me-2">
        <%= form.radio_button :point, 2, class: "me-1 form-check-input" %>
        <%= form.label :point_2, "2 Star", class: "form-check-label" %>
      </span>
      <span class="d-flex me-2">
        <%= form.radio_button :point, 3, class: "me-1 form-check-input" %>
        <%= form.label :point_3, "3 Star", class: "form-check-label" %>
      </span>
      <span class="d-flex me-2">
        <%= form.radio_button :point, 4, class: "me-1 form-check-input" %>
        <%= form.label :point_4, "4 Star", class: "form-check-label" %>
      </span>
      <span class="d-flex me-2">
        <%= form.radio_button :point, 5, class: "me-1 form-check-input" %>
        <%= form.label :point_5, "5 Star", class: "form-check-label" %>
      </span>
    </div>
    <p class="mt-0 text-danger"><%= flash[:info] %></p>
    <div>
      <%= form.submit class: "btn btn-outline-dark btn-sm" %>
    </div>
  <% end %>
</div>

<div class="container bg-white py-2 mt-3">
  <h4>Comments | <%= @comments.length %></h4>
  <hr/>
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <div class="alert alert-secondary bg-white d-flex py-2">
        <div class="flex-grow-1">
          <small class="fw-bold m-0"><%= comment.user.email %></small>
          <p class="fs-5 mt-3 mb-1"><%= comment.body %></p>
          <%= render "user_comment_ratings/form_comment_rating",comment: comment %>
        </div>
        <%= link_to 'X', "/topics/#{@topic.id}/posts/#{@post.id}/comments/#{comment.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "text-secondary bg-white text-decoration-none fs-5 mt-3" if can? :delete, comment %>
      </div>

    <% end %>
  <% else %>
    <div class="text-center">
      <p>No Comments</p>
    </div>
  <% end %>
</div>

<div class="container bg-white py-2 mt-3">
  <h4>Add a new comment:</h4>
  <%= form_with model: [@topic, @post, @post.comments.new], url: "/topics/#{@topic.id}/posts/#{@post.id}/comments" do |form| %>
    <div class="mb-0">
      <%= form.text_area :body, class: 'form-control mt-3', placeholder: "Type your views here..." %>
    </div>
    <p class="mt-0 text-danger"><%= flash[:error] %></p>
    <div>
      <%= form.submit class: "btn btn-outline-dark btn-sm" %>
    </div>
  <% end %>
</div>
<% else %>
  <p class="text-center fw-bold text-danger">🙁 No Posts Found....</p>
  <div class="text-center mt-4">
    <%= link_to '< Back', topic_posts_url(@topic), class: "btn btn-sm btn-outline-primary bg-light text-primary fw-bold border-2 me-2" %>
  </div>
<% end %>

<script>
    para = document.getElementById('para')
    if(para.textContent === 'Un Read') {
        fetch(`${location.pathname}/user_status`, {
            method: 'POST'
        })
            .then((res) => {
                if(res.ok) {
                    para.textContent = 'Read'
                    para.className = "position-absolute positions badge rounded-pill bg-success mt-3 me-3"
                }
            })
    }
</script>
